#org-chart{
    padding-top: 10px;
    padding-bottom: 15px;
    max-width: 800px;
    margin: auto;
    .org{
        a{
            img{
                width: 100%;
                margin-top: 5px;
            }
        }
    }
}