#des-lpb{
    .header{
        margin: 15px auto 15px;
        width: fit-content;
        font-size: 25px;
        padding-left: 15px;
        padding-right: 15px;

    }
    .body{
        max-width: 1300px;
        padding: 0 15px 10px 15px;
        margin: auto;
    }
    .img-slide{
        max-width: 1300px;
        margin: auto;
        padding: 15px;
    }
}