.info{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 18px;
}
.btn-section{
    width: fit-content;
    margin: auto;
}
button{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select:none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important;
    background-color: rgb(224, 221, 221);
}
button:focus{
    background-color: blue !important;
    color: white;
}
button:hover{
    background-color: lightgrey;
}