.header{
    text-align: center;
    color: white;
    background-color:#3B444F;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: -25px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 24px;
    border-radius: 4px 4px 0 0;
}
.field{
    width: 100%;
}