.header{
    text-align: center;
    color: white;
    background-color:#3B444F;
    padding-top: 10px;
    padding-bottom: 5px;
    margin-top: -25px;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: 24px;
    border-radius: 4px 4px 0 0;
}
.field{
    width: 100%;
}
.label{
    display: grid;
    grid-template-columns: auto 1fr;
}
.label-text{
    width: fit-content;
}
.label-error{
    text-align: right;
    font-size: 10px;
    color: red;
}
.btn{
    margin-left: 5px;
    margin-right: 5px;
    width: 100px;
    text-align: center;
}