.btn-route-menu{
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select:none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: none !important;
}
@mixin mq-desktop {
    @media (min-width: 750px) {
      @content;
    }
}
#flight-schedule{
    max-width: 1300px;
    padding: 10px;
    margin: auto;
    .header{
        width: fit-content;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
        margin: 0 auto 10px;
        border-bottom: 2px solid rgb(182, 1, 1);
        font-size: 20px;
    }
    .condition{
        width: fit-content;
        margin: auto;
        position: relative;
        .btn-route{
            background-color: lightgray;
            -webkit-touch-callout: none !important;
            -webkit-user-select: none !important;
            -khtml-user-select:none !important;
            -moz-user-select: none !important;
            -ms-user-select: none !important;
            user-select: none !important;
            outline: none !important;
        }
        .loader{
            position: absolute;
            right: -35px;
            top: 7px;
        }
    }
    .body{
        .schedule{
            position: relative;
            margin: 10px auto 10px;
            max-width: 900px;
            border: 2px solid gray;
            border-radius: 15px;
            padding: 10px 20px 10px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include mq-desktop{
                grid-template-columns: 200px 1fr 200px;
                .depart{
                    .depart-info{
                        padding-left: 5px;
                        padding-top: 10px;
                        width: 120px;
                        .depart-title{
                            font-size: 18px !important;
                        }
                        .depart-value{
                            font-size: 16px !important;
                        }
                    }
                }
                .arrival{
                    .arrival-info{
                        padding-right: 5px;
                        padding-top: 10px;
                        width: 120px;
                        .arrival-title{
                            font-size: 18px !important;
                        }
                        .arrival-value{
                            font-size: 16px !important;
                        }
                    }
                }
                &::before{
                    position: absolute;
                    left: -2px;
                    top: 15px;
                    bottom: 15px;
                    width: 15px;
                    content: " ";
                    background-color: white;
                    border: 2px solid gray;
                    border-left: 0;
                }
                &::after{
                    position: absolute;
                    right: -2px;
                    top: 15px;
                    bottom: 15px;
                    width: 15px;
                    content: " ";
                    background-color: white;
                    border: 2px solid gray;
                    border-right: 0;
                }
                .item:nth-child(1){
                    grid-row: 1/2;
                    grid-column: 2/3;
                }
                .item:nth-child(2){
                    grid-row: 1/4;
                    grid-column: 1/2;
                    border-right: 2px dotted gray;
                }
                .item:nth-child(3){
                    grid-row: 1/4;
                    grid-column: 3/4;
                    border-left: 2px dotted gray;
                }
                .item:nth-child(4){
                    grid-row: 2/3;
                    grid-column: 2/3;
                }
                .item:nth-child(5){
                    grid-row: 3/4;
                    grid-column: 2/3;
                }
            }
            .title{
                text-align: center;
                grid-row: 2/3;
                grid-column: 1/3;
            }
            .depart{
                display: flex;
                justify-content: flex-start;
                .depart-info{
                    padding-left: 5px;
                    padding-top: 10px;
                    width: fit-content;
                    .depart-title{
                        font-size: 15px;
                        font-weight: bold;
                    }
                    .depart-value{
                        font-size: 12px;
                    }
                }
            }
            .arrival{
                display: flex;
                justify-content: flex-end;
                .arrival-info{
                    padding-right: 5px;
                    padding-top: 10px;
                    width: fit-content;
                    .arrival-title{
                        font-size: 15px;
                        font-weight: bold;
                        text-align: right;
                    }
                    .arrival-value{
                        font-size: 12px;
                        text-align: right;
                    }
                    .arrival-time{
                        text-align: right;
                    }
                }
            }
            .frequency{
                grid-row: 3/4;
                grid-column: 1/3;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                // padding-bottom: 10px;
                padding-top: 5px;
                .day{
                    width: fit-content;
                }
            }
            .valid{
                grid-row: 4/5;
                grid-column: 1/3;
                text-align: center;
                font-size: 10px;
                color: gray;
            }
        }
        .guide{
            position: relative;
            width: 100%;
            max-width: 600px;
            margin: auto;
            text-align: center;
            padding: 15px;
            .splash{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba($color: #ffffff, $alpha: 0.7);
            }
        }
    }
}


.loader {
    border: 5px solid #c4c1c1; /* Light grey */
    border-top: 5px solid #158ad8; /* Blue */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .body-load,
  .body-load:before,
  .body-load:after {
    background: rgba($color: #000000, $alpha: 0.7);
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
  }
  .body-load {
    color: rgba($color: #000000, $alpha: 0.7);
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  .body-load:before,
  .body-load:after {
    position: absolute;
    top: 0;
    content: '';
  }
  .body-load:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .body-load:after {
    left: 1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow: 0 0;
      height: 4em;
    }
    40% {
      box-shadow: 0 -2em;
      height: 5em;
    }
  }